<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source</key>
	<dict>
		<key>Date Accessed</key>
		<date>2024-03-15T00:32:40Z</date>
		<key>URL</key>
		<string>http://mcubed.net/ncaab/seeds.shtml</string>
	</dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<real>0.5</real>
		<key>2</key>
		<real>0.545</real>
		<key>3</key>
		<real>0.634</real>
		<key>4</key>
		<real>0.705</real>
		<key>5</key>
		<real>0.797</real>
		<key>6</key>
		<real>0.706</real>
		<key>7</key>
		<real>0.857</real>
		<key>8</key>
		<real>0.785</real>
		<key>9</key>
		<real>0.906</real>
		<key>10</key>
		<real>0.875</real>
		<key>11</key>
		<real>0.556</real>
		<key>12</key>
		<real>1</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.987</real>
	</dict>
	<key>2</key>
	<dict>
		<key>2</key>
		<real>0.5</real>
		<key>3</key>
		<real>0.606</real>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.25</real>
		<key>6</key>
		<real>0.722</real>
		<key>7</key>
		<real>0.696</real>
		<key>8</key>
		<real>0.4</real>
		<key>9</key>
		<real>0.667</real>
		<key>10</key>
		<real>0.641</real>
		<key>11</key>
		<real>0.842</real>
		<key>12</key>
		<integer>1</integer>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.928</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<real>0.5</real>
		<key>4</key>
		<real>0.556</real>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.583</real>
		<key>7</key>
		<real>0.632</real>
		<key>8</key>
		<integer>1</integer>
		<key>9</key>
		<real>0.75</real>
		<key>10</key>
		<real>0.6919999999999999</real>
		<key>11</key>
		<real>0.667</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.855</real>
		<key>15</key>
		<real>0.667</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>4</key>
	<dict>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.573</real>
		<key>6</key>
		<real>0.333</real>
		<key>7</key>
		<real>0.333</real>
		<key>8</key>
		<real>0.385</real>
		<key>9</key>
		<real>0.4</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.705</real>
		<key>13</key>
		<real>0.789</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>5</key>
	<dict>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<integer>1</integer>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.25</real>
		<key>9</key>
		<real>0.4</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.674</real>
		<key>13</key>
		<real>0.85</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>6</key>
	<dict>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<real>0.25</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.6</real>
		<key>11</key>
		<real>0.628</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.875</real>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>7</key>
	<dict>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.606</real>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.333</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>8</key>
	<dict>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.511</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<integer>0</integer>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>9</key>
	<dict>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>11</key>
	<dict>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.75</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>15</key>
	<dict>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>16</key>
	<dict>
		<key>16</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
