<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source</key>
	<dict>
		<key>URL</key>
		<string>http://mcubed.net/ncaabw/seeds.shtml</string>
		<key>Date Accessed</key>
		<date>2020-04-30T05:30:00Z</date>
	</dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<real>0.5</real>
		<key>2</key>
		<real>0.617</real>
		<key>3</key>
		<real>0.744</real>
		<key>4</key>
		<real>0.8129999999999999</real>
		<key>5</key>
		<real>0.902</real>
		<key>6</key>
		<real>0.833</real>
		<key>7</key>
		<real>0.8</real>
		<key>8</key>
		<real>0.955</real>
		<key>9</key>
		<real>0.969</real>
		<key>10</key>
		<real>0.99</real>
		<key>11</key>
		<real>0.99</real>
		<key>12</key>
		<real>0.99</real>
		<key>13</key>
		<real>0.99</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.99</real>
	</dict>
	<key>2</key>
	<dict>
		<key>2</key>
		<real>0.5</real>
		<key>3</key>
		<real>0.64</real>
		<key>4</key>
		<real>0.467</real>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.774</real>
		<key>7</key>
		<real>0.846</real>
		<key>8</key>
		<real>0.01</real>
		<key>9</key>
		<real>0.01</real>
		<key>10</key>
		<real>0.898</real>
		<key>11</key>
		<real>0.99</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.99</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<real>0.5</real>
		<key>4</key>
		<real>0.636</real>
		<key>5</key>
		<real>0.99</real>
		<key>6</key>
		<real>0.713</real>
		<key>7</key>
		<real>0.462</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.6</real>
		<key>11</key>
		<real>0.658</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.99</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>4</key>
	<dict>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.675</real>
		<key>6</key>
		<real>0.99</real>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<real>0.99</real>
		<key>9</key>
		<real>0.99</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.8</real>
		<key>13</key>
		<real>0.9419999999999999</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>5</key>
	<dict>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.01</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.8</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>6</key>
	<dict>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.694</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>7</key>
	<dict>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.64</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>8</key>
	<dict>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.529</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>9</key>
	<dict>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.99</real>
	</dict>
	<key>10</key>
	<dict>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>11</key>
	<dict>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>15</key>
	<dict>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>16</key>
	<dict>
		<key>16</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
