<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source</key>
	<dict>
		<key>Date Accessed</key>
		<date>2021-04-23T01:02:00Z</date>
		<key>URL</key>
		<string>http://mcubed.net/ncaab/seeds.shtml</string>
	</dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<real>0.5</real>
		<key>2</key>
		<real>0.539</real>
		<key>3</key>
		<real>0.625</real>
		<key>4</key>
		<real>0.711</real>
		<key>5</key>
		<real>0.839</real>
		<key>6</key>
		<real>0.706</real>
		<key>7</key>
		<real>0.857</real>
		<key>8</key>
		<real>0.8</real>
		<key>9</key>
		<real>0.901</real>
		<key>10</key>
		<real>0.857</real>
		<key>11</key>
		<real>0.556</real>
		<key>12</key>
		<real>1</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.993</real>
	</dict>
	<key>2</key>
	<dict>
		<key>2</key>
		<real>0.5</real>
		<key>3</key>
		<real>0.603</real>
		<key>4</key>
		<real>0.444</real>
		<key>5</key>
		<real>0.167</real>
		<key>6</key>
		<real>0.722</real>
		<key>7</key>
		<real>0.694</real>
		<key>8</key>
		<real>0.444</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.645</real>
		<key>11</key>
		<real>0.833</real>
		<key>12</key>
		<integer>1</integer>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.9379999999999999</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<real>0.5</real>
		<key>4</key>
		<real>0.625</real>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.571</real>
		<key>7</key>
		<real>0.611</real>
		<key>8</key>
		<integer>1</integer>
		<key>9</key>
		<integer>1</integer>
		<key>10</key>
		<real>0.6919999999999999</real>
		<key>11</key>
		<real>0.679</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.846</real>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>4</key>
	<dict>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.5629999999999999</real>
		<key>6</key>
		<real>0.333</real>
		<key>7</key>
		<real>0.333</real>
		<key>8</key>
		<real>0.364</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.6899999999999999</real>
		<key>13</key>
		<real>0.79</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>5</key>
	<dict>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<integer>1</integer>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.25</real>
		<key>9</key>
		<real>0.25</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.671</real>
		<key>13</key>
		<real>0.842</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>6</key>
	<dict>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<real>0.2</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.6</real>
		<key>11</key>
		<real>0.634</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.875</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>7</key>
	<dict>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.601</real>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>8</key>
	<dict>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.518</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<integer>0</integer>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>9</key>
	<dict>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.333</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>11</key>
	<dict>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.75</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>15</key>
	<dict>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>16</key>
	<dict>
		<key>16</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
