<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source</key>
	<dict>
		<key>Date Accessed</key>
		<date>2021-04-23T01:00:30Z</date>
		<key>URL</key>
		<string>http://mcubed.net/ncaabw/seeds.shtml</string>
	</dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<real>0.5</real>
		<key>2</key>
		<real>0.624</real>
		<key>3</key>
		<real>0.733</real>
		<key>4</key>
		<real>0.806</real>
		<key>5</key>
		<real>0.909</real>
		<key>6</key>
		<real>0.857</real>
		<key>7</key>
		<real>0.8</real>
		<key>8</key>
		<real>0.957</real>
		<key>9</key>
		<real>0.969</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<integer>1</integer>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.991</real>
	</dict>
	<key>2</key>
	<dict>
		<key>2</key>
		<real>0.5</real>
		<key>3</key>
		<real>0.633</real>
		<key>4</key>
		<real>0.467</real>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.765</real>
		<key>7</key>
		<real>0.852</real>
		<key>8</key>
		<integer>0</integer>
		<key>9</key>
		<integer>0</integer>
		<key>10</key>
		<real>0.898</real>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<real>0.5</real>
		<key>4</key>
		<real>0.667</real>
		<key>5</key>
		<integer>1</integer>
		<key>6</key>
		<real>0.695</real>
		<key>7</key>
		<real>0.462</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.6</real>
		<key>11</key>
		<real>0.667</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>4</key>
	<dict>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.664</real>
		<key>6</key>
		<integer>1</integer>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<integer>1</integer>
		<key>9</key>
		<integer>1</integer>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.8080000000000001</real>
		<key>13</key>
		<real>0.9350000000000001</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>5</key>
	<dict>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<integer>0</integer>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.798</real>
		<key>13</key>
		<real>0.571</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>6</key>
	<dict>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.667</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.695</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>7</key>
	<dict>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.65</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>8</key>
	<dict>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.543</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>9</key>
	<dict>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>11</key>
	<dict>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>15</key>
	<dict>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>16</key>
	<dict>
		<key>16</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
