<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source</key>
	<dict>
		<key>URL</key>
		<string>http://mcubed.net/ncaab/seeds.shtml</string>
		<key>Date Accessed</key>
		<date>2020-03-29T21:50:00Z</date>
	</dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<real>0.5</real>
		<key>2</key>
		<real>0.533</real>
		<key>3</key>
		<real>0.625</real>
		<key>4</key>
		<real>0.707</real>
		<key>5</key>
		<real>0.833</real>
		<key>6</key>
		<real>0.6879999999999999</real>
		<key>7</key>
		<real>0.857</real>
		<key>8</key>
		<real>0.802</real>
		<key>9</key>
		<real>0.9</real>
		<key>10</key>
		<real>0.857</real>
		<key>11</key>
		<real>0.571</real>
		<key>12</key>
		<real>1</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.993</real>
	</dict>
	<key>2</key>
	<dict>
		<key>2</key>
		<real>0.5</real>
		<key>3</key>
		<real>0.603</real>
		<key>4</key>
		<real>0.444</real>
		<key>5</key>
		<real>0.167</real>
		<key>6</key>
		<real>0.722</real>
		<key>7</key>
		<real>0.701</real>
		<key>8</key>
		<real>0.444</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.633</real>
		<key>11</key>
		<real>0.875</real>
		<key>12</key>
		<integer>1</integer>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.9429999999999999</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>3</key>
	<dict>
		<key>3</key>
		<real>0.5</real>
		<key>4</key>
		<real>0.625</real>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<real>0.578</real>
		<key>7</key>
		<real>0.611</real>
		<key>8</key>
		<integer>1</integer>
		<key>9</key>
		<integer>1</integer>
		<key>10</key>
		<real>0.6919999999999999</real>
		<key>11</key>
		<real>0.6909999999999999</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.85</real>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>4</key>
	<dict>
		<key>4</key>
		<real>0.5</real>
		<key>5</key>
		<real>0.5580000000000001</real>
		<key>6</key>
		<real>0.333</real>
		<key>7</key>
		<real>0.333</real>
		<key>8</key>
		<real>0.364</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.707</real>
		<key>13</key>
		<real>0.799</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>5</key>
	<dict>
		<key>5</key>
		<real>0.5</real>
		<key>6</key>
		<integer>1</integer>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.25</real>
		<key>9</key>
		<real>0.25</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.669</real>
		<key>13</key>
		<real>0.824</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>6</key>
	<dict>
		<key>6</key>
		<real>0.5</real>
		<key>7</key>
		<real>0.625</real>
		<key>8</key>
		<real>0.25</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.6</real>
		<key>11</key>
		<real>0.638</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.875</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>7</key>
	<dict>
		<key>7</key>
		<real>0.5</real>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<real>0.604</real>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.667</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>8</key>
	<dict>
		<key>8</key>
		<real>0.5</real>
		<key>9</key>
		<real>0.512</real>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<integer>1</integer>
		<key>12</key>
		<integer>0</integer>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>9</key>
	<dict>
		<key>9</key>
		<real>0.5</real>
		<key>10</key>
		<integer>1</integer>
		<key>11</key>
		<integer>0</integer>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<integer>1</integer>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<integer>1</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>10</key>
		<real>0.5</real>
		<key>11</key>
		<real>0.333</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<integer>1</integer>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>11</key>
	<dict>
		<key>11</key>
		<real>0.5</real>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<integer>1</integer>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>12</key>
		<real>0.5</real>
		<key>13</key>
		<real>0.75</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>13</key>
		<real>0.5</real>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>14</key>
		<real>0.5</real>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>15</key>
	<dict>
		<key>15</key>
		<real>0.5</real>
		<key>16</key>
		<real>0.5</real>
	</dict>
	<key>16</key>
	<dict>
		<key>16</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
