<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>abbreviation</key>
		<string>KU</string>
		<key>name</key>
		<string>Kansas</string>
	</dict>
	<key>1</key>
	<dict>
		<key>abbreviation</key>
		<string>SNA</string>
		<key>name</key>
		<string>Siena</string>
	</dict>
	<key>10</key>
	<dict>
		<key>abbreviation</key>
		<string>DUKE</string>
		<key>name</key>
		<string>Duke</string>
	</dict>
	<key>11</key>
	<dict>
		<key>abbreviation</key>
		<string>BEL</string>
		<key>name</key>
		<string>Belmont</string>
	</dict>
	<key>12</key>
	<dict>
		<key>abbreviation</key>
		<string>PROV</string>
		<key>name</key>
		<string>Providence</string>
	</dict>
	<key>13</key>
	<dict>
		<key>abbreviation</key>
		<string>ASU</string>
		<key>name</key>
		<string>Arizona St</string>
	</dict>
	<key>14</key>
	<dict>
		<key>abbreviation</key>
		<string>UK</string>
		<key>name</key>
		<string>Kentucky</string>
	</dict>
	<key>15</key>
	<dict>
		<key>abbreviation</key>
		<string>NDSU</string>
		<key>name</key>
		<string>N Dakota St</string>
	</dict>
	<key>16</key>
	<dict>
		<key>abbreviation</key>
		<string>DAY</string>
		<key>name</key>
		<string>Dayton</string>
	</dict>
	<key>17</key>
	<dict>
		<key>abbreviation</key>
		<string>BU</string>
		<key>name</key>
		<string>Boston</string>
	</dict>
	<key>18</key>
	<dict>
		<key>abbreviation</key>
		<string>RMU</string>
		<key>name</key>
		<string>Robert Morris</string>
	</dict>
	<key>19</key>
	<dict>
		<key>abbreviation</key>
		<string>COLO</string>
		<key>name</key>
		<string>Colorado</string>
	</dict>
	<key>2</key>
	<dict>
		<key>abbreviation</key>
		<string>HOU</string>
		<key>name</key>
		<string>Houston</string>
	</dict>
	<key>20</key>
	<dict>
		<key>abbreviation</key>
		<string>FLA</string>
		<key>name</key>
		<string>Florida</string>
	</dict>
	<key>21</key>
	<dict>
		<key>abbreviation</key>
		<string>BUT</string>
		<key>name</key>
		<string>Butler</string>
	</dict>
	<key>22</key>
	<dict>
		<key>abbreviation</key>
		<string>TEX</string>
		<key>name</key>
		<string>Texas</string>
	</dict>
	<key>23</key>
	<dict>
		<key>abbreviation</key>
		<string>RICH</string>
		<key>name</key>
		<string>Richmond</string>
	</dict>
	<key>24</key>
	<dict>
		<key>abbreviation</key>
		<string>UMD</string>
		<key>name</key>
		<string>Maryland</string>
	</dict>
	<key>25</key>
	<dict>
		<key>abbreviation</key>
		<string>AKR</string>
		<key>name</key>
		<string>Akron</string>
	</dict>
	<key>26</key>
	<dict>
		<key>abbreviation</key>
		<string>PSU</string>
		<key>name</key>
		<string>Penn St</string>
	</dict>
	<key>27</key>
	<dict>
		<key>abbreviation</key>
		<string>NCST</string>
		<key>name</key>
		<string>NC St</string>
	</dict>
	<key>28</key>
	<dict>
		<key>abbreviation</key>
		<string>UCLA</string>
		<key>name</key>
		<string>UCLA</string>
	</dict>
	<key>29</key>
	<dict>
		<key>abbreviation</key>
		<string>NOVA</string>
		<key>name</key>
		<string>Villanova</string>
	</dict>
	<key>3</key>
	<dict>
		<key>abbreviation</key>
		<string>MQU</string>
		<key>name</key>
		<string>Marquette</string>
	</dict>
	<key>30</key>
	<dict>
		<key>abbreviation</key>
		<string>HOF</string>
		<key>name</key>
		<string>Hofstra</string>
	</dict>
	<key>31</key>
	<dict>
		<key>abbreviation</key>
		<string>WVU</string>
		<key>name</key>
		<string>W Virginia</string>
	</dict>
	<key>32</key>
	<dict>
		<key>abbreviation</key>
		<string>USU</string>
		<key>name</key>
		<string>Utah St</string>
	</dict>
	<key>33</key>
	<dict>
		<key>abbreviation</key>
		<string>FSU</string>
		<key>name</key>
		<string>Florida St</string>
	</dict>
	<key>34</key>
	<dict>
		<key>abbreviation</key>
		<string>NKU</string>
		<key>name</key>
		<string>N Kentucky</string>
	</dict>
	<key>35</key>
	<dict>
		<key>abbreviation</key>
		<string>GU</string>
		<key>name</key>
		<string>Gonzaga</string>
	</dict>
	<key>36</key>
	<dict>
		<key>abbreviation</key>
		<string>PV</string>
		<key>name</key>
		<string>Prairie View</string>
	</dict>
	<key>37</key>
	<dict>
		<key>abbreviation</key>
		<string>NCCU</string>
		<key>name</key>
		<string>NC Central</string>
	</dict>
	<key>38</key>
	<dict>
		<key>abbreviation</key>
		<string>LSU</string>
		<key>name</key>
		<string>LSU</string>
	</dict>
	<key>39</key>
	<dict>
		<key>abbreviation</key>
		<string>OKLA</string>
		<key>name</key>
		<string>Oklahoma</string>
	</dict>
	<key>4</key>
	<dict>
		<key>abbreviation</key>
		<string>AUB</string>
		<key>name</key>
		<string>Auburn</string>
	</dict>
	<key>40</key>
	<dict>
		<key>abbreviation</key>
		<string>MICH</string>
		<key>name</key>
		<string>Michigan</string>
	</dict>
	<key>41</key>
	<dict>
		<key>abbreviation</key>
		<string>YALE</string>
		<key>name</key>
		<string>Yale</string>
	</dict>
	<key>42</key>
	<dict>
		<key>abbreviation</key>
		<string>ORE</string>
		<key>name</key>
		<string>Oregon</string>
	</dict>
	<key>43</key>
	<dict>
		<key>abbreviation</key>
		<string>NMSU</string>
		<key>name</key>
		<string>New Mexico St</string>
	</dict>
	<key>44</key>
	<dict>
		<key>abbreviation</key>
		<string>BYU</string>
		<key>name</key>
		<string>BYU</string>
	</dict>
	<key>45</key>
	<dict>
		<key>abbreviation</key>
		<string>IND</string>
		<key>name</key>
		<string>Indiana</string>
	</dict>
	<key>46</key>
	<dict>
		<key>abbreviation</key>
		<string>SHU</string>
		<key>name</key>
		<string>Seton Hall</string>
	</dict>
	<key>47</key>
	<dict>
		<key>abbreviation</key>
		<string>EWU</string>
		<key>name</key>
		<string>E Washington</string>
	</dict>
	<key>48</key>
	<dict>
		<key>abbreviation</key>
		<string>ARIZ</string>
		<key>name</key>
		<string>Arizona</string>
	</dict>
	<key>49</key>
	<dict>
		<key>abbreviation</key>
		<string>TTU</string>
		<key>name</key>
		<string>Texas Tech</string>
	</dict>
	<key>5</key>
	<dict>
		<key>abbreviation</key>
		<string>LIB</string>
		<key>name</key>
		<string>Liberty</string>
	</dict>
	<key>50</key>
	<dict>
		<key>abbreviation</key>
		<string>SDSU</string>
		<key>name</key>
		<string>San Diego St</string>
	</dict>
	<key>51</key>
	<dict>
		<key>abbreviation</key>
		<string>UCI</string>
		<key>name</key>
		<string>UC Irvine</string>
	</dict>
	<key>52</key>
	<dict>
		<key>abbreviation</key>
		<string>BAY</string>
		<key>name</key>
		<string>Baylor</string>
	</dict>
	<key>53</key>
	<dict>
		<key>abbreviation</key>
		<string>WIN</string>
		<key>name</key>
		<string>Winthrop</string>
	</dict>
	<key>54</key>
	<dict>
		<key>abbreviation</key>
		<string>STM</string>
		<key>name</key>
		<string>St Mary’s</string>
	</dict>
	<key>55</key>
	<dict>
		<key>abbreviation</key>
		<string>RUTG</string>
		<key>name</key>
		<string>Rutgers</string>
	</dict>
	<key>56</key>
	<dict>
		<key>abbreviation</key>
		<string>OSU</string>
		<key>name</key>
		<string>Ohio St</string>
	</dict>
	<key>57</key>
	<dict>
		<key>abbreviation</key>
		<string>SFA</string>
		<key>name</key>
		<string>Stephen F Austin</string>
	</dict>
	<key>58</key>
	<dict>
		<key>abbreviation</key>
		<string>LOU</string>
		<key>name</key>
		<string>Louisville</string>
	</dict>
	<key>59</key>
	<dict>
		<key>abbreviation</key>
		<string>UVM</string>
		<key>name</key>
		<string>Vermont</string>
	</dict>
	<key>6</key>
	<dict>
		<key>abbreviation</key>
		<string>WISC</string>
		<key>name</key>
		<string>Wisconsin</string>
	</dict>
	<key>60</key>
	<dict>
		<key>abbreviation</key>
		<string>UVA</string>
		<key>name</key>
		<string>Virginia</string>
	</dict>
	<key>61</key>
	<dict>
		<key>abbreviation</key>
		<string>CIN</string>
		<key>name</key>
		<string>Cincinnati</string>
	</dict>
	<key>62</key>
	<dict>
		<key>abbreviation</key>
		<string>MSU</string>
		<key>name</key>
		<string>Michigan St</string>
	</dict>
	<key>63</key>
	<dict>
		<key>abbreviation</key>
		<string>BRAD</string>
		<key>name</key>
		<string>Bradley</string>
	</dict>
	<key>64</key>
	<dict>
		<key>abbreviation</key>
		<string>ILL</string>
		<key>name</key>
		<string>Illinois</string>
	</dict>
	<key>65</key>
	<dict>
		<key>abbreviation</key>
		<string>USC</string>
		<key>name</key>
		<string>USC</string>
	</dict>
	<key>66</key>
	<dict>
		<key>abbreviation</key>
		<string>CU</string>
		<key>name</key>
		<string>Creighton</string>
	</dict>
	<key>67</key>
	<dict>
		<key>abbreviation</key>
		<string>UALR</string>
		<key>name</key>
		<string>Little Rock</string>
	</dict>
	<key>7</key>
	<dict>
		<key>abbreviation</key>
		<string>UNT</string>
		<key>name</key>
		<string>N Texas</string>
	</dict>
	<key>8</key>
	<dict>
		<key>abbreviation</key>
		<string>IOWA</string>
		<key>name</key>
		<string>Iowa</string>
	</dict>
	<key>9</key>
	<dict>
		<key>abbreviation</key>
		<string>ETST</string>
		<key>name</key>
		<string>E Tennessee St</string>
	</dict>
</dict>
</plist>
