<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>File</key>
		<string>mensBracket2025</string>
		<key>Name</key>
		<string>2025 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2025</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2025</string>
		<key>Name</key>
		<string>2025 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2025</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2024</string>
		<key>Name</key>
		<string>2024 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2024</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2024</string>
		<key>Name</key>
		<string>2024 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2024</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2015</string>
		<key>Name</key>
		<string>2015 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2015</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2015</string>
		<key>Name</key>
		<string>2015 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2015</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2016</string>
		<key>Name</key>
		<string>2016 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2016</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2016</string>
		<key>Name</key>
		<string>2016 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2016</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2017</string>
		<key>Name</key>
		<string>2017 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2017</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2017</string>
		<key>Name</key>
		<string>2017 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2017</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2018</string>
		<key>Name</key>
		<string>2018 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2018</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2018</string>
		<key>Name</key>
		<string>2018 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2018</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2019</string>
		<key>Name</key>
		<string>2019 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2019</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2019</string>
		<key>Name</key>
		<string>2019 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2019</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>bracketology2020</string>
		<key>Name</key>
		<string>2020 Joe Lunardi&apos;s Bracketology</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2020</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracketology2020</string>
		<key>Name</key>
		<string>2020 Women&apos;s - Charlie Creme&apos;s Bracketology</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2020</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2021</string>
		<key>Name</key>
		<string>2021 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2021</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2021</string>
		<key>Name</key>
		<string>2021 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2021</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2022</string>
		<key>Name</key>
		<string>2022 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2022</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2022</string>
		<key>Name</key>
		<string>2022 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2022</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>mensBracket2023</string>
		<key>Name</key>
		<string>2023 Men&apos;s Bracket</string>
		<key>IsWomens</key>
		<false/>
		<key>Year</key>
		<integer>2023</integer>
	</dict>
	<dict>
		<key>File</key>
		<string>womensBracket2023</string>
		<key>Name</key>
		<string>2023 Women&apos;s Bracket</string>
		<key>IsWomens</key>
		<true/>
		<key>Year</key>
		<integer>2023</integer>
	</dict>
</array>
</plist>
