<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Year</key>
	<real>2022</real>
	<key>IsWomens</key>
	<true/>
	<key>FirstFour</key>
	<dict>
		<key>0</key>
		<dict>
			<key>NextGame</key>
			<string>4</string>
			<key>Seed</key>
			<string>16</string>
			<key>Region</key>
			<string>Greensboro</string>
		</dict>
		<key>1</key>
		<dict>
			<key>NextGame</key>
			<string>8</string>
			<key>Seed</key>
			<string>11</string>
			<key>Region</key>
			<string>Greensboro</string>
		</dict>
		<key>2</key>
		<dict>
			<key>NextGame</key>
			<string>24</string>
			<key>Seed</key>
			<string>11</string>
			<key>Region</key>
			<string>Spokane</string>
		</dict>
		<key>3</key>
		<dict>
			<key>NextGame</key>
			<string>28</string>
			<key>Seed</key>
			<string>16</string>
			<key>Region</key>
			<string>Bridgeport</string>
		</dict>
	</dict>
	<key>RegionIDs</key>
	<dict>
		<key>0</key>
		<string>Greensboro</string>
		<key>1</key>
		<string>Wichita</string>
		<key>2</key>
		<string>Spokane</string>
		<key>3</key>
		<string>Bridgeport</string>
	</dict>
	<key>Source</key>
	<dict>
		<key>Date Accessed</key>
		<date>2022-03-14T01:45:19Z</date>
		<key>URL</key>
		<string>https://www.ncaa.com/brackets/basketball-women/d1/2022</string>
	</dict>
	<key>Regions</key>
	<dict>
		<key>Greensboro</key>
		<dict>
			<key>1</key>
			<integer>315</integer>
			<key>10</key>
			<integer>66</integer>
			<key>111</key>
			<integer>16</integer>
			<key>112</key>
			<integer>111</integer>
			<key>12</key>
			<integer>57</integer>
			<key>13</key>
			<integer>294</integer>
			<key>14</key>
			<integer>321</integer>
			<key>15</key>
			<integer>143</integer>
			<key>161</key>
			<integer>141</integer>
			<key>162</key>
			<integer>324</integer>
			<key>2</key>
			<integer>8</integer>
			<key>3</key>
			<integer>147</integer>
			<key>4</key>
			<integer>48</integer>
			<key>5</key>
			<integer>301</integer>
			<key>6</key>
			<integer>273</integer>
			<key>7</key>
			<integer>19</integer>
			<key>8</key>
			<integer>286</integer>
			<key>9</key>
			<integer>317</integer>
		</dict>
		<key>Wichita</key>
		<dict>
			<key>1</key>
			<integer>58</integer>
			<key>10</key>
			<integer>316</integer>
			<key>11</key>
			<integer>29</integer>
			<key>12</key>
			<integer>11</integer>
			<key>13</key>
			<integer>257</integer>
			<key>14</key>
			<integer>72</integer>
			<key>15</key>
			<integer>275</integer>
			<key>16</key>
			<integer>256</integer>
			<key>2</key>
			<integer>52</integer>
			<key>3</key>
			<integer>40</integer>
			<key>4</key>
			<integer>320</integer>
			<key>5</key>
			<integer>42</integer>
			<key>6</key>
			<integer>44</integer>
			<key>7</key>
			<integer>288</integer>
			<key>8</key>
			<integer>293</integer>
			<key>9</key>
			<integer>35</integer>
		</dict>
		<key>Spokane</key>
		<dict>
			<key>1</key>
			<integer>232</integer>
			<key>10</key>
			<integer>260</integer>
			<key>111</key>
			<integer>176</integer>
			<key>112</key>
			<integer>33</integer>
			<key>12</key>
			<integer>124</integer>
			<key>13</key>
			<integer>269</integer>
			<key>14</key>
			<integer>148</integer>
			<key>15</key>
			<integer>120</integer>
			<key>16</key>
			<integer>178</integer>
			<key>2</key>
			<integer>22</integer>
			<key>3</key>
			<integer>38</integer>
			<key>4</key>
			<integer>24</integer>
			<key>5</key>
			<integer>337</integer>
			<key>6</key>
			<integer>56</integer>
			<key>7</key>
			<integer>327</integer>
			<key>8</key>
			<integer>0</integer>
			<key>9</key>
			<integer>132</integer>
		</dict>
		<key>Bridgeport</key>
		<dict>
			<key>1</key>
			<integer>27</integer>
			<key>10</key>
			<integer>20</integer>
			<key>11</key>
			<integer>202</integer>
			<key>12</key>
			<integer>284</integer>
			<key>13</key>
			<integer>145</integer>
			<key>14</key>
			<integer>245</integer>
			<key>15</key>
			<integer>171</integer>
			<key>161</key>
			<integer>162</integer>
			<key>162</key>
			<integer>181</integer>
			<key>2</key>
			<integer>268</integer>
			<key>3</key>
			<integer>45</integer>
			<key>4</key>
			<integer>39</integer>
			<key>5</key>
			<integer>306</integer>
			<key>6</key>
			<integer>14</integer>
			<key>7</key>
			<integer>267</integer>
			<key>8</key>
			<integer>340</integer>
			<key>9</key>
			<integer>152</integer>
		</dict>
	</dict>
</dict>
</plist>
